@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


    .progress {
        stroke-dasharray: 189; /* Circumference */
        stroke-dashoffset: calc(189 - (189 * var(--percentage)) / 100); /* Progress calculation */
        transition: stroke-dashoffset 0.5s ease; /* Animation for smooth transition */
    }
